@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-transparent {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
  
  .scrollbar-transparent::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-transparent::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-transparent::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }
  
  .scrollbar-transparent::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

